<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>

        <%- include('../partials/back') %> 

        <main>
            <article class="prod-detail">
                <div class="img-container">
                    <div class="img-principal">
                        <img src = "/images/<%= product.img %> ">
                    </div>

                    <div class="slider-buttons-container"> 
                        <div class="items"> 
                            <a href="#"><i class="fas fa-chevron-left"></i></a>
                        </div>
                        <div class="items">
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </div> 
                    </div>
                    
                    <div class="img-sec">
                        <img src = "/images/img-ropa.jpeg" >
                    </div>
                    
                    <div class="img-sec">
                        <img src = "/images/img-ropa.jpeg" >
                    </div>
                </div>

                <div class="product-description">
                    <p class="nombre-prod"> <%= product.nombre %>  </p>

                    <div class="stars">
                        <div class="score">
                            <i class="far fa-star" style="color: #d4b073;"></i>
                            <i class="far fa-star" style="color: #d4b073;"></i>
                            <i class="far fa-star" style="color: #d4b073;"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <p> 127437 Reviews </p>
                    </div>

                    <p class="precio"> $<%= product.precio %>  </p>

                    <div class="colors"> <!-- agregar al objeto una array de colores y iterarlos con un foreach-->
                        <a href="#"><i class="fas fa-circle" style="color: #161db5"></i></a>
                        <a href="#"><i class="fas fa-circle" style="color: red"></i></a>
                        <a href="#"><i class="fas fa-circle" style="color: goldenrod"></i></a>
                        <a href="#"><i class="fas fa-circle" style="color: olive"></i></a>
                        <!--<i class="fas fa-slash"></i> -->
                    </div> 
                    
                    <p> Rojo </p>

                    <div class="talle">
                        <a href="#"> <p>XS</p> </a>
                        <a href="#"> <p>S</p></a>
                        <a href="#"> <p>M</p></a>
                        <a href="#"> <p>L</p></a>
                        <a href="#"> <P>XL</P</a>
                    </div>

                    <div class="guia">
                        <a href="#">Ver guia de Talles </a>
                    </div>
                    
                    <div class="cantidad">
                        <a href="#"> - </a>
                        <a href="#"> 1 </a>
                        <a href="#"> + </a>
                    </div>

                    <a href="#">
                        <p>Agregar a carrito</p>
                    </a>
                    
                    <a href="#">Ver locales donde esta disponible el producto</a>
                    <br>
                    <div class = "description">
                        <p class="title"> Descripción</p>
                        <p> <%= product.descripcion %> 
                        </p>
                    </div>
                </div>
   
            </article>

            <div class="title-recom">
                <p class= "title-recom"> Tambien te puede gustar </p>
            </div>

            <div class="Recomendaciones">
                <article>
                    <a href="#">
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </a>
                    <p>MacBook</p>
                    <p>$20.000</p>
                </article>

                <article>
                    <a href="#">
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </a>
                    <p>MacBook</p>
                    <p>$20.000</p>
                </article>
                    
                <article>
                    <a href="#">
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </a>
                    <p>MacBook</p>
                    <p>$20.000</p>
                </article>
                    
                <article class="deMas">
                    <a href="#">
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </a>
                    <p>MacBook</p>
                    <p>$20.000</p>
                </article>
            </div>

        </main>

        <%- include('../partials/footer') %> 
    </body>
</html>